 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/184b06211b5c26ac82510e04215f7f73506935af4827aeb65d7f6866a7fae66d91c74dbfe8e031c31f48301d274fcd3dd5d6d244f263ca5ad03b3b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 22px 219px 0 auto;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: -12px 0 0 43px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 274px 0 auto;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.5rem;
  margin: 8px 0 0 13px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 22px 404px 60px;
}

.u-section-1 .u-icon-1 {
  padding: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    line-height: 1;
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 332px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -23px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -9px;
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    line-height: 1.6;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 4px;
    margin-right: 4px;
  }
}