 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/184b06211b5c26ac82510e04215f7f73506935af4827aeb65d7f6866a7fae66d91c74dbfe8e031c31f48301d274fcd3dd5d6d244f263ca5ad03b3b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 8px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px 274px 0 auto;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.5rem;
  margin: 8px 0 0 13px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 3rem;
  margin: 8px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
    margin-top: 46px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 25px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }
}